{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Select Source Material</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavLightDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="#">Fantasy</a></li>
            <li><a class="dropdown-item" href="#">Science Fiction</a></li>
            <li><a class="dropdown-item" href="#">Mystery</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Select Reading Level</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavLightDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
            <li><a class="dropdown-item" href="#">K</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Passage Title/Page Number</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" 
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Issue Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="button" class="btn btn-primary btn-sm">Submit</button> --}}





{{!-- submit form 2 --}}
<div class="container-sm">
<form id = "addIssue">

    <select class="form-select" aria-label="Select Source Material" id="source" name="source">
        <option>Source</option>
    {{#each sourceMaterials as |sourceMaterial|}}
    <option value={{sourceMaterial.source_mat_id}}>{{sourceMaterial.title}}</option>
    {{/each}}
    </select>
    <br>
    <select class="form-select" aria-label="Select Reading Level" id="level" name="level">
    <option>Reading Level</option>
    {{#each readingLevels as |readingLevel|}}
    <option value={{readingLevel}}>{{readingLevel}}</option>
    {{/each}}
    </select>
   
    <br>
    <div class="mb-3">
        <label for="description" class="form-label">Passage Title/Page Number:</label>
        <br><input type="text" class="form-control" id="passage"><br>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Issue Description:</label>
        <br><input class="form-control" type="textarea" id="description">
    </div>
    <button type="button" class="btn btn-primary btn-sm">Submit</button>
</form>
</div>

<script>
async function issueSubmit(e){
    e.preventDefault();
    const user = '{{user}}'
    const source = document.getElementById('source')
    const level = document.getElementById('level')
    const passage = document.getElementById('passage')
    const description = document.getElementById('description')
//to do: verify route below
    const response = await fetch('/issues/create',{
        method:"POST",
        body:JSON.stringify({user, source, level, passage, description}),
        headers: {"Content-Type": "application/json"}
    
    });
// to do: verify route below
    if (response.ok){
        document.location.replace("/issues_submitted")
    }
    else{
        alert("The issue did not submit, please try again.")
    }
}

document
.querySelector('#addIssue')
.addEventListener('submit', issueSubmit)

</script>