
<br>
View Issues (disabled link)
<br>
Filter by: 
<br>
<form id="filter-form" action="/issues" method="GET">

<select class="form-select" aria-label="Select Source Material" id="source" name="source">
  <option>Source</option>
  {{#each sourceMaterials as |sourceMaterial|}}
    <option value={{sourceMaterial.source_mat_id}}>{{sourceMaterial.title}}</option>
  {{/each}}
</select>
<br>

<select class="form-select" aria-label="Select Reading Level" id="level" name="level">
  <option>Reading Level</option>
  {{#each readingLevels as |readingLevel|}}
    <option value={{readingLevel}}>{{readingLevel}}</option>
  {{/each}}
</select>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>

<h2>Issues</h2>
{{!-- display all issues table --}}
<table>
  <thead>
    <tr>
      <th>user</th>
      <th>source material</th>
      <th>reading_level</th>
      <th>passage</th>
      <th>description</th>
      <th>date_created</th>
    </tr>
  </thead>
  <tbody>
    {{#each issues as |issue|}}
      <tr>
        <td>{{issue.user.name}}</td>
        <td>{{issue.sourcematerial.title}}</td>
        <td>{{issue.reading_level}}</td>
        <td>{{issue.passage}}</td>
        <td>{{issue.description}}</td>
        <td>{{format_date issue.date_created}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script>
  // select the current reading_level and source value
  const level = '{{level}}'
  const source = '{{source}}'

  if (level != '') document.querySelector('#level').value = level
  if (source != '') document.querySelector('#source').value = source
</script>